# Enabling Dependencies
postgresql:
  enabled: false
  auth:
    username: flyte
    password: flytepassword
    database: flyteadmin
  primary:
    persistence:
      enabled: false # Ephemeral for 1-day POC (Fast & Cheap)

kserve:
  enabled: false

minio:
  enabled: false
  rootUser: minio
  rootPassword: miniostorage
  persistence:
    enabled: false # Ephemeral

# DISABLE FLYTE (User Request to stabilize)
flyte:
  enabled: false

# Deprecated config for enabled flyte
flyte-core:
  enabled: false
  # Tell Flyte to use our new Postgres
  db:
    host: platform-app-postgresql
    port: 5432
    dbname: flyteadmin
    username: flyte
    password: flytepassword
  
  # Tell Flyte to use our new MinIO
  storage:
    type: minio
    bucketName: "flyte-data"
    s3:
      endpoint: "http://platform-app-minio.default.svc.cluster.local:9000"
      accessKey: "minio"
      secretKey: "miniostorage"
      disableSSL: true

# Enable Kubeflow
kubeflow:
  enabled: false

kubeflow-pipelines:
  # Basic config to try and make it run without massive resources
  minio:
    enabled: false # Use the shared one if possible.
  mysql:
    enabled: false
    persistence:
      enabled: false # Ephemeral
