# Enabling Dependencies
postgresql:
  enabled: true
  auth:
    username: flyte
    password: flytepassword
    database: flyteadmin
  primary:
    persistence:
      enabled: false # Ephemeral for 1-day POC (Fast & Cheap)

minio:
  enabled: true
  rootUser: minio
  rootPassword: miniostorage
  persistence:
    enabled: false # Ephemeral

flyte-core:
  enabled: true
  # Tell Flyte to use our new Postgres
  db:
    host: platform-app-postgresql
    port: 5432
    dbname: flyteadmin
    username: flyte
    password: flytepassword
  
  # Tell Flyte to use our new MinIO
  storage:
    type: minio
    bucketName: "flyte-data"
    s3:
      endpoint: "http://platform-app-minio.default.svc.cluster.local:9000"
      accessKey: "minio"
      secretKey: "miniostorage"
      disableSSL: true

# Enable Kubeflow
kubeflow:
  enabled: true

kubeflow-pipelines:
  # Basic config to try and make it run without massive resources
  minio:
    enabled: false # Use the shared one if possible, or let it deploy its own. 
    # Actually, let's let KFP deploy its own MinIO/Postgres to avoid conflict, as wiring them together is complex.
    # We have t3.xlarge nodes, we can handle it.
  mysql:
    enabled: true
    persistence:
      enabled: false # Ephemeral
